doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Drywall Guayabal

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section.inicio
        .tint
          h1 Drywall Guayabal
          h4 Reporte Área de sistemas e informática DWG. (Enero - Febrero) 2014

      section
        .tint
          h2 contenido
          h3 1. Pagina web y social media.
          h3 2. Servidor y PCs
          h3 3. Agenda
          h3 4. Investigación

      section
        .tint
          h2 Pagina web  y social media.
          h3 Desde la implementación de la pagina web hasta la fecha (11 diciembre 2013 - 11 febrero 2014).
          h3 La pagina ha sido visitada:
            green <b>160</b> veces por <b>69</b> visitantes.
          h3 Siendo la pantalla principal la mas visitada, seguida de proyectos y contáctenos.
          h3 El perfíl de facebook cuenta con 
            green 53 likes. 
          h3 En twitter contamos con 
            red 6 seguidores.

      section.reportepagwebgoogle
        .tint
          h2 Reporte pagina web.

      section.reportesocialmedia
        .tint
          h2 facebook

      section.medidasatomarpaginaweb
        .tint
          h2 Acciones a realizar.
          ul
            li Crear y agregar contenido a la pagina web, facebook y twitter.
            li Tomar fotos a proyectos nuevos para subirlos a la pagina web y a facebook.
            li Tomar fotos en los proyectos y compartirlos en el perfíl de twitter (tiempo real).
            li Agregar nuevas funcionalidades al portal web.

      section
        .tint
          h2 Servidor y PCs
          h3 Información del servidor y los PCs.

      section
        .tint
          h2 Servidor
          h3 El servidor desde su implementación a funcionado de manera 
            green correcta.
          h3. Ha presentado dos inconvenientes que ya se detectarón y se corrigierón.
          ul
            li 
              red No estaban configuradas las calls del servidor. 
              green Solución: Se contacto con el vendedor del servidor y dieron soporte, configurando las calls correectamente.
            li 
              red El servidor se desconecta de la red. 
              green Solución: Se detecto que al configurar las calls se crea na red adicional lo cual ocasionaba el inconveniente. el cual se deshabilito y el servidor se unió a la red.
          h3 
            green El servidor en hora NO pico su rendimiento esta en 20%.
          h3 El servidor en horas PICO su capacidad n%

      section
        .tint
          h2 Agenda
          h3 Acciones agendadas.

      section
        .tint
          h2 Investigación
          h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
          ul
            li Bullet 1
            li Bullet 2
            li Bullet 3

      section
        .tint
          h2 preguntas y/ó inquietudes.        
          ul
            li <a href="http://twitter.com/jessecogollo">@jessecogollo</a>
            li Correo: <a href="http://newdevs.co">jessecogollo@newdevs.co</a>
            li celular: <a href="http://twitter.com/jessecogollo">3207906256</a>
            li <a href="http://twitter.com/newdevs">@newdevs</a>
          hr

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild