doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Drywall Guayabal

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section.inicio
        .tint
          h1 Drywall Guayabal
          h4 Reporte mensual Área de sistemas e informática DWG. (Enero - Febrero)

      section
        .tint
          h2 Pagina web  y social media.
          h3 Inforamción de la pagina web.

      section
        h2 Servidor y PCs
        h3 Inforamción del servidor y los PCs.

      section
        h2 Calendario
        h3 Acciones agendadas.

      section
        h2 Investigación
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        .tint
          h2 preguntas y/ó inquietudes.        
          ul
            li <a href="http://twitter.com/jessecogollo">@jessecogollo</a>
            li Correo: <a href="http://newdevs.co">jessecogollo@newdevs.co</a>
            li celular: <a href="http://twitter.com/jessecogollo">3207906256</a>
            li <a href="http://twitter.com/newdevs">@newdevs</a>
          hr

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild